@use '../../../../public/assets/styles/all-styles.scss' as all;

header {
    position: absolute;
    width: 100%;
    z-index: 9;
}

nav {
    font-family: 'Fire-Code', Courier, monospace;

    li {
        display: inline-block;
        margin-left: 30px;
        font-size: 20px;

        .nav_point {
            height: 8px;
            width: 8px;
            margin: auto;
            border-radius: 100%;
            transition: .3s ease-in-out;
        }

        &:hover {

            .nav_point {
                background: all.$primary-light;
            }
        }
    }

    ul {
        list-style: none;
        color: all.$white-color;

        &:hover {
            cursor: pointer;
        }
    }
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

    @include all.mobile {
        display: none;
    }

    .lang-nav-wrapper {
        display: flex;
        align-items: center;
    }

    .language-wrapper {
        display: flex;
        border: 1px solid all.$primary-light;
        border-radius: 18px;
        width: auto;
        color: all.$primary-light;
        transition: .4s ease-in-out;

        .lang {
            padding: 5px 12px;
            border-radius: 18px;
            cursor: pointer;
        }

        .active {
            color: all.$white-color;
            font-weight: bold;
            background-color: all.$primary-light;
        }

        &:hover {
            border: 1px solid all.$white-color;
        }
    }
}

.header_inner_mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 20px;

    @include all.desktop {
        display: none;
    }
}

.logo_wrapper {
    width: 200px;

    .logo_header {
        width: auto;
        height: 50px;
        background: url('../../../../public/name_logo.svg');
        background-repeat: no-repeat;
        background-size: contain;
        transition: .1s ease-in-out;
        cursor: pointer;

        &:hover {
            background: url('../../../../public/name_logo_hover.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}