@use '../../../../public/assets/styles/all-styles.scss' as all;

header {
    position: absolute;
    width: 100%;
    z-index: 9;
}

nav {
    font-family: 'Fire-Code', Courier, monospace;

    li {
        display: inline-block;
        margin-left: 30px;
    }

    ul {
        list-style: none;
        color: all.$white-color;

        &:hover {
            cursor: pointer;
        }
    }
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

    .lang-nav-wrapper {
        display: flex;
        align-items: center;
    }

    .language-wrapper {
        display: flex;
        border: 1px solid all.$primary-light;
        border-radius: 18px;
        width: auto;
        color: all.$primary-light;
        transition: .4s ease-in-out;

        .lang {
            padding: 5px 12px;
            border-radius: 18px;
        }

        .active {
            color: all.$white-color;
            font-weight: bold;
            background-color: all.$primary-light;
        }

        &:hover {
            border: 1px solid all.$white-color;
        }
    }


}