<header>
    <div class="container header-inner">
        <div class="lang-nav-wrapper">
            <div class="language-wrapper">
                <div class="language-wrapper__lang_en lang active">EN</div>
                <div class="language-wrapper__lang_de lang">DE</div>
            </div>
            
            <nav>
                <ul>
                    <li>About me</li>
                    <li>Skills</li>
                    <li>Projects</li>
                    <li>Contact</li>
                </ul>
            </nav>
        </div>

        <div class="logo-wrapper">
            <img src="logoipsum.svg" alt="Logo" class="logo-header">
        </div>
    </div>
</header>
