<header>
    <div class="container header-inner">
        <div class="lang-nav-wrapper">
            <div class="language-wrapper">
                <div class="language-wrapper__lang_en lang active">EN</div>
                <div class="language-wrapper__lang_de lang">DE</div>
            </div>
            
            <nav>
                <ul>
                    <li>About me
                        <div class="nav_point"> </div>
                    </li>
                    <li>
                        Skills
                        <div class="nav_point"> </div>
                    </li>
                    <li>
                        Projects
                        <div class="nav_point"> </div>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="logo_wrapper">
            <div alt="Logo" class="logo_header"></div>  
        </div>
    </div>
</header>
