<section class="hero">
    <div class="hero__inner">
        <div class="hero__inner__title-wrapper">
            <div class="hero__inner__title-wrapper__text-wrapper">
                <h2>Frontend Developer</h2>
                <h1>Can Toptas</h1>
            </div>

            <div class="hero__inner__title-wrapper__button-wrapper">
                <button class="button">Check my work</button>
                <button class="button">Contact Me</button>
            </div>
        </div>

        <div class="hero__inner__laterals">
            <div class="hero__inner__laterals__left">
                <div class="hero__inner__laterals__left__icon-wrapper">
                    <img src="assets/images/arrow_down.svg" alt="" class="arrow_down">
                </div>

                <div class="hero__inner__laterals__left__line"></div>
            </div>

            <div class="hero__inner__laterals__right">
                <span class="hero__inner__laterals__right__email">can@outlook.de</span>

                <div class="hero__inner__laterals__right__sm-wrapper">
                    <img src="/assets/images/github.svg" alt="" class="sm-icon">
                    <img src="/assets/images/linkedin.svg" alt="" class="sm-icon">
                </div>

                <div class="hero__inner__laterals__right__line"></div>
            </div>
        </div>


    </div>
</section>