@use '../../../../public/assets/styles/all-styles.scss' as all;

.hero {
    position: relative;
    overflow: hidden;
    height: 100dvh;
    display: flex;
    color: white;
    background: linear-gradient(30deg, rgb(31, 31, 31) 40%, #0e5a4d 100%);
    justify-content: center;

    .hero-wrapper {
        position: absolute;
        bottom: 0;
    }

    &__inner {
        width: 1200px;

        &__title-wrapper {
            position: absolute;
            top: 200px;
            left: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;

            &__text-wrapper {
                text-align: center;

                h1 {
                    font-size: 128px;
                }

                h2 {
                    font-size: 40px;
                    font-weight: 400;
                    font-family: 'Fire_Code', Courier, monospace;
                }
            }

            &__button-wrapper {
                display: flex;
                gap: 48px;
                margin-top: 30px;
            }
        }



        &__laterals {
            position: absolute;
            bottom: 0;
            width: 90%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;

            &__left {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 24px;
                width: 30px;

                &__line {
                    height: 240px;
                    width: 1px;
                    background: all.$primary-light;
                }

                &__icon-wrapper {
                    display: flex;
                    border: 1px solid all.$primary-light;
                    border-radius: 18px;
                    height: 48px;
                    width: 30px;
                    justify-content: center;
                    align-items: center;
                }
            }

            &__right {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 24px;
                width: 30px;

                &__sm-wrapper {
                    display: flex;
                    gap: 12px;
                    flex-direction: column;
                }

                &__email {
                    writing-mode: sideways-lr;
                    text-orientation: mixed;
                }

                &__line {
                    height: 185px;
                    width: 1px;
                    background: all.$white-color;
                }

            }
        }
    }

    .button {
        padding: 1rem 1.5rem;
        background: none;
        border: 1px solid white;
        border-radius: 28px;
        color: all.$white-color;
        font-size: 18px;
    }





}