@use '../../../../public/assets/styles/all-styles.scss' as all;

.hero {
    position: relative;
    display: flex;
    color: white;
    background: linear-gradient(30deg, all.$dark-color 30%, all.$primary-color 100%);
    justify-content: center;
    overflow: hidden;

    .hero-wrapper {
        position: absolute;
        bottom: 0;
    }

    &__inner {
        height: 100dvh;
        display: flex;
        align-items: center;
        z-index: 9;

        &__title-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;

            &__text-wrapper {
                text-align: center;

                h1 {
                    font-size: 128px;
                }

                h2 {
                    font-size: 40px;
                    font-weight: 400;
                    font-family: 'Fire_Code', Courier, monospace;
                }
            }

            &__button-wrapper {
                display: flex;
                gap: 48px;
                margin-top: 30px;
            }
        }


        &__laterals {
            position: absolute;
            bottom: 0;
            width: 90%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;

            &__left {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 24px;
                width: 30px;

                &__line {
                    height: 240px;
                    width: 1px;
                    background: all.$primary-light;
                }

                &__icon-wrapper {
                    display: flex;
                    border: 1px solid all.$primary-light;
                    border-radius: 18px;
                    height: 48px;
                    width: 30px;
                    justify-content: center;
                    align-items: center;

                    .arrow_down {
                        width: 10px;
                        animation: hero_arrow_animation 2s infinite;
                    }
                }
            }

            &__right {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 24px;
                width: 30px;

                &__sm-wrapper {
                    display: flex;
                    gap: 12px;
                    flex-direction: column;
                }

                &__email {
                    writing-mode: sideways-lr;
                    text-orientation: mixed;
                }

                &__line {
                    height: 185px;
                    width: 1px;
                    background: all.$white-color;
                }

            }
        }
    }

    .maruquee {
        position: absolute;
        bottom: 55px;
        background-color: rgba(255, 255, 255, 0.089);
        width: 110%;
        transform: rotate(356deg);
        //filter: blur(1px); //überarbeiten

        ul {
            display: flex;
            gap: 100px;
            font-size: 32px;
            text-wrap: nowrap;
            color: all.$primary-light;
            transform: translateX(100%);
            -moz-animation: animated-hero-text 25s linear infinite;
            -webkit-animation: animated-hero-text 25s linear infinite;
            animation: animated-hero-text 25s linear infinite;

            li {}

        }
    }



}