@font-face {
    font-family: 'Fire-Code';
    src: url('../../public/assets/fonts/Fira_Code/FiraCode-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('../../public/assets/fonts/Karla/Karla-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Karla', Courier, monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/* section {

} */

.container {
    max-width: 1330px;
    margin: auto;
}