@use '../../../../public/assets/styles/all-styles.scss' as all;

footer {
    margin-top: 100px;
    padding-bottom: 46px;

    @include all.mobile {
        padding: 0 20px;
    }

    .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo_wrapper {
            img {
                margin-bottom: 20px;
            }

            .text_wrapper {
                display: flex;
                flex-direction: column;
                gap: 10px;

                p {
                    margin: 0;
                }
            }
        }


        .copyright {
            font-family: 'Fire-Code', Courier, monospace;
            font-size: 18px;
            color: all.$primary-light;

            @include all.mobile {
                width: 100%;
                position: absolute;
                margin-top: 220px;
                padding-bottom: 20px;
                text-align: center;
                margin-left: -20px;
            }
        }


        .links_wrapper {
            display: flex;
            flex-direction: column;
            gap: 10px;

            a {
                text-decoration: none;
                color: all.$white-color;
            }
        }

    }
}