$primary-color: #0e5a4d;
$white-color: #ffff;
$dark-color: rgb(31, 31, 31);

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #ffff;
    background: $dark-color;
    background: linear-gradient(30deg, $dark-color 40%, #0e5a4d 100%);

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;

        &__text-wrapper {
            text-align: center;

            h1 {
                font-size: 128px;
            }

            h2 {
                font-size: 40px;
                font-weight: 400;
                font-family: 'Fire_Code', Courier, monospace;
            }
        }

        &__button-wrapper {
            display: flex;
            gap: 48px;
        }
    }

    .button {
        padding: 1rem 1.5rem;
        background: none;
        border: 1px solid white;
        border-radius: 28px;
        color: $white-color;
        font-size: 18px;
    }



}