@use '../../../../public/assets/styles/all-styles.scss' as all;

.about {
    padding-top: 100px;

    .inner {
        display: flex;
        flex-direction: row;
        gap: 80px;

        .picture-wrapper {
            width: 50%;

            img {
                border-radius: 30px;
            }
        }

        .card-wrapper {
            width: 50%;

            h4 {
                margin-bottom: 26px;
            }

            .card {
                display: flex;
                flex-direction: column;
                gap: 14px;
                background-color: all.$primary-color;
                border: 1px solid all.$primary-light;
                border-radius: 30px;
                padding: 32px;
                color: all.$white-color;
            }
        }
    }
}