<section class="about">
    <div class="container">

        <div class="inner">
            <div class="picture-wrapper">
                <img src="../../../../assets/images/mee.jpg" alt="Picture of me">
            </div>

            <div class="card-wrapper">
                <h3 class="sub-title">Wo I Am</h3>
                <div class="card">
                    <h2>About Me</h2>
                    <p>
                        Hey there, I'm Lukas! Write some information about yourself that is IT related. Why are you
                        passionate about coding? What is your source of inspiration for improving your programming
                        skills?
                    </p>

                    <div class="desc-wrapper">
                        <div class="desc-wrapper__icon-wrapper">
                            <img src="../../../../assets/images/location_on.svg" alt="Icon">
                        </div>
                        Where are you based? Would you be open to working remotely or potentially relocating?
                    </div>

                    <div class="desc-wrapper">
                        <div class="desc-wrapper__icon-wrapper">
                            <img src="../../../../assets/images/cognition.svg" alt="Icon">
                        </div>
                        Show that you are open-minded. Are you enthusiastic about learning new technologies and
                        continually improving your skills?
                    </div>

                    <div class="desc-wrapper">
                        <div class="desc-wrapper__icon-wrapper">
                            <img src="../../../../assets/images/new_releases.svg" alt="Icon">
                        </div>
                        A brief description of your problem-solving approach.
                        Do you learn from each challenge as you search for the most efficient or elegant solution? You
                        can include some keywords like: analytical thinking, creativity, persistence and collaboration.

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>