@use '../../../../public/assets/styles/all-styles.scss' as all;

.about {

    p {
        font-size: 18px;
    }

    .inner {
        display: flex;
        flex-direction: row;
        gap: 80px;

        .picture-wrapper {
            width: 50%;

            img {
                border-radius: 30px;
            }
        }

        .card-wrapper {
            margin-top: 100px;
            display: flex;
            flex-direction: column;
            gap: 30px;

            .card {

                .desc-wrapper {
                    color: rgba(255, 255, 255, 0.699);
                    display: flex;
                    gap: 24px;
                    transition: .2s ease-in-out;

                    &:hover {
                        color: all.$white-color;
                    }

                    &__icon-wrapper {
                        width: 50px;
                    }
                }
            }
        }
    }
}