@use '../../../../public/assets/styles/all-styles.scss' as all;

.about {

    p {
        font-size: 18px;

        @include all.mobile {
            font-size: 16px;
        }
    }

    .inner {
        display: flex;
        flex-direction: row;
        gap: 80px;

        @include all.mobile {
            flex-wrap: wrap;
            gap: 30px;
            width: 100%;
            overflow: hidden;
        }

        .picture-wrapper {
            width: 50%;

            @include all.mobile {
                width: 100%;
            }

            img {
                border-radius: 30px;

                @include all.mobile {
                    height: 350px;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        .card-wrapper {
            margin-top: 100px;

            @include all.mobile {
                margin: 0;
                width: 100%;
            }

            .card {

                .desc-wrapper {
                    color: rgba(255, 255, 255, 0.699);
                    display: flex;
                    gap: 24px;
                    transition: .2s ease-in-out;

                    &:hover {
                        color: all.$white-color;
                    }

                    &__icon-wrapper {
                        width: 50px;
                    }
                }
            }
        }
    }
}