@use '../../../../public/assets/styles/all-styles.scss' as all;

.technologies {
    background: radial-gradient(22.43% 43.85% at 1.22% 52.45%, rgba(8, 70, 59, 0.3) 0%, #1C1C1C 100%);



    .inner {
        gap: 70px;

        .card {

            h3 {
                font-size: 24px;

                span {
                    color: all.$primary-light;
                }
            }
        }

        .skillset-wrapper {
            margin-top: 60px;
            max-width: 50%;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 70px;

            .skill {
                width: 108px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;

                h4 {
                    font-family: 'Fire-Code', Courier, monospace;
                    color: all.$white-color;
                    font-weight: 400;
                }

                img {
                    max-height: 64px;
                    max-width: 64px;
                    margin: auto;
                    transition: .2s ease-in-out;

                    &:hover {
                        scale: 110%;
                    }
                }
            }
        }
    }
}