<section class="technologies">
    <div class="container">

        <div class="inner d-flex flex-row">

            <div class="card-wrapper">
                <h3 class="sub-title">Technologies</h3>
                <div class="card">
                    <h2>Skill Set</h2>
                    <p>
                        A short introduction of your skills. Highlight your experience of using different front-end
                        technologies and emphasise your openness to learning and adapting to new technologies. Show how
                        important it is for you to keep up with the rapid changes in web development.
                    </p>

                    <h3>You need another skill?</h3>

                    <p>
                        Feel free to contact me. I look forward to expanding on my previous knowledge.
                    </p>

                    <button class="button-light">Let's talk</button>

                </div>
            </div>

            <div class="skillset-wrapper d-flex flex-row justify-content-center align-items-start">

                <div class="skill d-flex flex-column">
                    <img src="../../../../assets/images/html.svg" alt="">
                    <h4 class="text-center">HTML</h4>
                </div>

                <div class="skill">
                    <img src="../../../../assets/images/css.svg" alt="">
                    <h4 class="text-center">CSS</h4>
                </div>

                <div class="skill d-flex flex-column justify-content-center">
                    <img src="../../../../assets/images/javascript.svg" alt="">
                    <h4 class="text-center">JavaScript</h4>
                </div>

                <div class="skill">
                    <img src="../../../../assets/images/material_design.svg" alt="">
                    <h4 class="text-center">Material<br>Design</h4>
                </div>

            </div>
        </div>
    </div>
</section>