<section class="technologies">
    <div class="container">

        <div class="inner d-flex flex-row">

            <div class="card-wrapper">
                <h3 class="sub-title">Technologies</h3>
                <div class="card">
                    <h2>Skill Set</h2>
                    <p>
                        A short introduction of your skills. Highlight your experience of using different front-end
                        technologies and emphasise your openness to learning and adapting to new technologies. Show how
                        important it is for you to keep up with the rapid changes in web development.
                    </p>

                    <h3>You need <span>another skill?</span></h3>

                    <p>
                        Feel free to contact me. I look forward to expanding on my previous knowledge.
                    </p>

                    <button class="button-light"><span class="hero_btn">Let's Talk</span></button>

                </div>
            </div>

            <div class="skillset-wrapper">

                <div class="skill">
                    <img src="../../../../assets/images/html.svg" alt="">
                    <h4 class="text-center">HTML</h4>
                </div>

                <div class="skill">
                    <img src="../../../../assets/images/css.svg" alt="">
                    <h4 class="text-center">CSS</h4>
                </div>

                <div class="skill">
                    <img src="../../../../assets/images/javascript.svg" alt="">
                    <h4 class="text-center">JavaScript</h4>
                </div>

                <div class="skill">
                    <img src="../../../../assets/images/material_design.svg" alt="">
                    <h4 class="text-center">Material<br>Design</h4>
                </div>


                <div class="skill">
                    <img src="../../../../assets/images/typescript.svg" alt="">
                    <h4 class="text-center">TypeScript</h4>
                </div>

                <div class="skill">
                    <img src="../../../../assets/images/angular.svg" alt="">
                    <h4 class="text-center">Angular</h4>
                </div>

                <div class="skill">
                    <img src="../../../../assets/images/supabase.svg" alt="">
                    <h4 class="text-center">Supabase</h4>
                </div>

                <div class="skill">
                    <img src="../../../../assets/images/git.svg" alt="">
                    <h4 class="text-center">Git</h4>
                </div>

                <div class="skill">
                    <img src="../../../../assets/images/api.svg" alt="">
                    <h4 class="text-center">REST-API</h4>
                </div>

                <div class="skill">
                    <img src="../../../../assets/images/scrum.svg" alt="">
                    <h4 class="text-center">Scrum</h4>
                </div>

                <div class="skill">
                    <img src="../../../../assets/images/mindset.svg" alt="">
                    <h4 class="text-center">Growth<br>mindset</h4>
                </div>

            </div>
        </div>
    </div>
</section>