header {
    position: absolute;
    width: 100%;
}
nav {
    li {
        display: inline-block;
        margin-left: 10px;
    }

    ul {
        list-style: none;
    }
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

    .lang-nav-wrapper {
        display: flex;
        align-items: center;
    }

    .language-wrapper {
        display: flex;
        column-gap: .3rem;
        padding: 3px;
        border: 1px solid black;
        border-radius: 6px;
        width: 50px;

        &__lang_en {
            font-weight: bold;
        }
    }
}