@keyframes animated_button_hero_text {
    to {
		transform: translateX(-200%);
	}
}

@keyframes animated-hero-text {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}