@font-face {
    font-family: 'Fire-Code';
    src: url('../fonts/Fira_Code/FiraCode-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('../fonts/Karla/Karla-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}