@use 'variables' as var;

// #region basics
@mixin flx() {}


.text-center {
    text-align: center;
}

// #endregion


// #region buttons

.button-light {
    padding: 1rem 1.5rem;
    background: none;
    border: 1px solid var.$white-color;
    border-radius: 28px;
    color: var.$white-color;
    font-size: 18px;
}

// #endregion


// #region flex

.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-center {
    align-items: center;
}

.align-items-stretch {
    align-items: stretch;
}



// #endregion