@use 'variables' as var;

// #region basics
@mixin flx() {}




// #endregion


// #region buttons

.button-light {
    padding: 1rem 1.5rem;
    background: none;
    border: 1px solid var.$white-color;
    border-radius: 28px;
    color: var.$white-color;
    font-size: 18px;
}



// #endregion