// #region basics
@mixin flx() {}




// #endregion


// #region buttons

.button-light {
    padding: 1rem 1.5rem;
    background: none;
    border: 1px solid white;
    border-radius: 28px;
    color: white;
    font-size: 18px;
}



// #endregion