<section class="references">
    <div class="container">

        <div class="inner d-flex flex-column">
            <h2 class="text-center">What my colleagues say about me</h2>

            <div class="references_wrapper">
                <div class="quotes">
                    <img src="../../../../assets/images/quotes.svg" alt="">
                </div>
                <div class="reference">
                    <p>
                        Lukas has proven to be a reliable group partner. His technical skills and proactive approach
                        were crucial to the success of our project.
                    </p>

                    <div class="reference_person_wrapper">
                        <div class="line"></div>
                        <span>H.Janisch - Team Partner</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>