@use "../public/assets/styles/all-styles.scss" as all;
@use './app/layout/header/header.scss' as header-style;
@use './app/layout/hero/hero.scss' as hero-style;


body {
    margin: 0;
    font-family: 'Karla', Courier, monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/* section {

} */

.container {
    max-width: 1300px;
    margin: auto;
}