@use "../public/assets/styles/all-styles.scss" as all;
@use './app/layout/header/header.scss' as header-style;
@use './app/layout/hero/hero.scss' as hero-style;


body {
    margin: 0;
    font-family: 'Karla', Courier, monospace;
    background-color: all.$dark-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.sub-title {
    font-size: 16px;
    color: all.$primary-light;
    margin-bottom: 24px;
}

.container {
    max-width: 1300px;
    margin: auto;
}