@use '../../../../public/assets/styles/all-styles.scss' as all;

.projects {


    .inner {
        gap: 20px;

        h2 {
            color: all.$primary-light;
            font-size: 64px;
        }

        .projects-wrapper {
            width: 70%;

            .project {
                border-top: 1px solid all.$primary-light;
                border-bottom: 1px solid all.$primary-light;
                padding: 40px 32px;
                transition: .2s ease-in-out;
                cursor: pointer;

                .arrow_hover {
                    padding: 5px;
                    transition: .2s ease-in-out;
                }

                &:hover {
                    background-color: all.$primary-color;

                    .arrow_hover {
                        background: url('../../../../public/assets/images/arrow_outward.svg') no-repeat;
                        background-size: contain;
                    }
                }

                h3 {
                    color: all.$white-color;
                    font-size: 24px;
                }

                .separator {
                    color: all.$primary-light;
                }
            }
        }

    }
}