<section class="projects">
    <div class="container">

        <div class="inner d-flex flex-column">
            <h3 class="sub-title">Portfolio</h3>
            <h2>Featured Projects</h2>
            <p>
                Explore a selection of my work here - Interact with projects to see my skills in action.
            </p>

            <div class="projects-wrapper">

                <div class="project d-flex flex-row justify-content-between align-items-center">
                    <h3>Join</h3>
                    <p>
                        Angular <span class="separator">|</span> 
                        TypeScript <span class="separator">|</span> 
                        HTML <span class="separator">|</span> 
                        CSS <span class="separator">|</span> 
                        Superbase
                    </p>
                </div>

                <div class="project d-flex flex-row justify-content-between align-items-center">
                    <h3>El Pollo Loco</h3>
                    <p>
                        HTML <span class="separator">|</span> 
                        CSS <span class="separator">|</span> 
                        JavaScript
                    </p>
                </div>

                <div class="project d-flex flex-row justify-content-between align-items-center">
                    <h3>DA Bubble</h3>
                    <p>
                        Angular <span class="separator">|</span> 
                        Firebase <span class="separator">|</span> 
                        TypeScript
                    </p>
                </div>

            </div>
        </div>

    </div>
</section>